// sass --watch custom.scss:custom.css
$primary-color: #316299;
$secondary-color: #5882BF;
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Niconne');
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: 0px red solid;
}
.main{
	background:#fff;
	margin: auto;
	width: auto;
	height: auto;
	// margin-top: 25px;
	a:hover{
		text-decoration: none;
	}
	h1{
		font: 500 60px/0.5 'Marck Script', cursive;
		margin: 50px 0px;
		color: $primary-color;
	}
	h2{
		font: 400 60px/0.5 'Niconne', cursive;
		margin: 50px 50px;
		color: #507CB7;
		&:hover{color: $primary-color;}
	}

	h3{
		font: 400 60px/0.5 'Marck Script', cursive;
		margin: 20px -100px;
		color: $primary-color;
	}
	.avatar{
		background-image: url('../image/avatar.jpg');
		background-repeat: no-repeat;
		background-size: 100px 100px;
		background-size: cover;
		width: 300px;
		height: 300px;
		border-radius: 50%;

		margin-top: 80px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
} //End of Block

.fixed{
	position: fixed; /* works fine on ios */	
	background: $primary-color;
	width:100%;
	height: 10px;
}
.fixed.footer{
	bottom:0;
	left:0;
}

.thumbnail{
	width:250px;
	height:250px;
	border: 1px solid $secondary-color !important;
	border-radius: 50px;
	img{
		width: 250px;
		height: 250px;
		border-radius: 20px;
	}	
}
.info-project{
	margin-top: -108px;
	margin-left: 4px;
	width: 95%;
	height: 85px;
	background: $primary-color;
	position: relative;
	border-radius: 0 0 15px 15px;
	h2{
		padding-top: 5px;
		color: #fff;
	}
	p{
		font-size: 16px;
		a{color: #fff}
	}
	
}
.contacts{
	a:hover{text-decoration: none;}
	h3, h4{color: $primary-color}
	p{
		font-size: 17px;
		
	}
}
.btn .btn-default{
	width: 200px;
	height: 60px;
	padding: 0px;
}

.fa{
	color: $secondary-color;
	&:hover{color:$primary-color ;}
}
.fa.fa-th-list{
	margin: 25px 25px;
}

.col-md-3:nth-child(4n+1){
	clear: left;
	// margin-top: 10px;
	// margin-bottom: 0px;
}

.logo{
	font: 400 60px/0.5 'Niconne', cursive;
	margin: 35px 0 35px 10%;	
	color: #507CB7;
	&:hover{
		color: $primary-color;
		text-decoration: none;
	}
}

.development{
	color: red;
	font-size: 25px;
	font-style: oblique;
}

